.smallCartImage {
    height: 8vh;
    width: 8vh;
    
}

.cartTopText {
    vertical-align: top;
}

.cartItemNameSpan {
    font-weight: bold;
}

.divRight {
    position: absolute;
    right: 0px;
    width: 300px;
}

.purchaseButton {
    background-color: green !important;
    color:white !important;
}

.purchaseCompleteMessage {
    color: green !important;
}

.updateButton {
    margin-top: 10px !important;
    margin-left: 5px !important;
}